
		<h1>Sample App</h1>
		<p>This is the home page for the Sample App found at <a href="http://localhost/3000/pages/">Sample App</a></p>
		
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
